<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/MyJavaFX/src/application/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <listAttribute key="org.eclipse.eclemma.core.SCOPE_IDS">
        <listEntry value="=MyJavaFX/src"/>
        <listEntry value="=MyJavaFX/C:\/Users\/Uexcel\/.p2\/pool\/plugins\/org.eclipse.fx.ide.css.jfx8_3.8.0.202204150904.jar=/module=/true=/"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="application.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="MyJavaFX"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MyJavaFX"/>
</launchConfiguration>
